{% extends "maths/maths_base.html" %}
{% block meta_description %}Use amaltools.com's free online calculator to solve complex mathematical problems. Supports a wide range of functions and operators.{% endblock %}
{% block title %}Calculator{% endblock %}
{% block h1 %}Calculator{% endblock %}
{% block tool %}
<div id="mathJcontent" class="my-3 border p-3 ">
    {% if expression %}
    {% else %}
    Enter an expression to calculate
    {% endif %}
    {% verbatim %}
    <!-- \(x = \frac{{-b \pm \sqrt{{b^2-4ac}}}}{{2a}}\) -->
    {% endverbatim %}
</div>
<form method="post" action="" onsubmit="format(event)">
    {% csrf_token %}
    <div class="input-group" >
        <input class="form-control" type="text" name="expression" value="{{ input }}" oninput="renderView(this.value)">
        
        <input class="btn btn-primary" type="submit">
    </div>
</form>

<div id="result" class="my-3">
    
</div>
{% endblock %}
{% block scripts %}
{% include 'maths/latex_mathjax.html' %}
{% endblock %}
