{% extends "base.html" %}
{% block meta_description %}AMALTools is website containing a range of tools to help in a range of situations. There are math tools, file tools and a lot more!{% endblock %}
{%block meta_keyword %}Tools, Website, Web, Django, Python, Project, Extended Project Qualifications, EPQ, Computer Science, AmalTools, AMALTOOLS, Amal Tools, Amal Tool{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
<div class="mw-100 mx-3">
    <div class="container w-100 text-center">
        <h1>About</h1>
    </div>
    <div class="container w-100">
        <p> Its full of random and incoherent sentenses for now will clean up at a later date</p>
        <h1>What is Amaltools?</h1>
        <p>Amaltools is a website containing a suite of tools to help in a range of situations. The tools are made to make it easier to complete tasks, calculations and more.  There are math tools, file tools and a many others!</p>
        
        <h2>Who is AMALtools for?</h2>
        <p>Amaltools is for anyone who needs to do a simple task that they don't want to do manually. For example, if you have a list of numbers that you want to sort in ascending order, you can use the 'Sort Numbers' tool to do it for you.</p>
        
        <h2>What does 'AMALtools' mean?</h2>
        <p>Amaltools is a combination of the words 'AMAL' and 'Tools'. Amal is my name and tools is what the website provides, a suite of (hopefully) useful tools that can help the everyday internet user get simple tasks done. I chose this name because it is unique and it includes my name.</p>
        
        <h2>Why did you make Amaltools?</h2>
        <p>I made Amaltools because I wanted to make something that would be useful to people. I also wanted to make something that would be a challenge to create and would help me learn skills and gain new knowledge. A lot of the tools are actually catered to my needs (getting user feedback has been difficult) as I often find myself like converting an image into another format that are hard to perform on other websites.</p>
        
        <h2>How did you make Amaltools?</h2>
        <p>I made Amaltools using Django, a Python web framework. One of the reasons I chose Django because python was the only programming language I knew at the inception of this project not only that, it is also a very popular framework and has a lot of support and documentation with lots of big companies such as Instagram and Spotify using it.
            For the frontend I used bootstrap v5.3. Many tools are built using open source libraries which are listed in the acknoledgments page.</p>
        
        <h2>What tools are you planning to add?</h2>
        <p>I am open to adding tools the site based on user preference, get in contact through email or social media.</p>
        {% comment %}
        <p>Here are some tools I am planning to add:</p>
        I am planning to add a tool that can extract and output videos from given links. I am also planning to add a tool that can convert between different number bases. I am also planning to add a tool that can convert between different units of measurement. I am also planning to add a tool that can convert between different currencies. I am also planning to add a tool that can convert between different time zones. I am also planning to add a tool that can convert between different file formats. I am also planning to add a tool that can convert between different image formats. I am also planning to add a tool that can convert between different audio formats. I am also planning to add a tool that can convert between different video formats. I am also planning to add a tool that can convert between different text formats.
        {% endcomment %}

        <h2>What are the future plans?</h2>
        <p>Besides the week the site was officially released, the number of visits has gone down considerably, to increase reach (I estimate around 1000 people have heard of the site and at least 450 people have visited at least once) I would have to pay for advertising, and even then this product, amaltools.com, doesnt have a unique selling point that will keep users coming back to it again and again. I have planned to shut the website down in Febuary</p>

        <h2>Contact details</h2>
        <p>Please feel free to contact me about any tool suggestions, questions or issues at <a href="mailto:amaltools2022@gmail.com">amaltools2022@gmail.com</a></p>

        To keep amaltools.com ad free and help with the cost of running the site, please consider donating <a href="https://www.buymeacoffee.com/amaltools" class="alert-link>">here</a>
    </div>
    
</div>

{% endblock %}