{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Acknowledgements</h1>
        <div class="row mb-3">
            <h2>People</h2>
            <p>I would like to express special thanks to these individuals who have 
                contributed to this project, be it through participating in tests, suggesting new tools and/or sharing my very badly made memes you have helped me create this project, something i couldn't have done without your help. Thank you!</p>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>GODLY GABRIELE</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Dezreves</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Jimmy Jammers</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Nguyen Thien An</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>CheongZC</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>CHRIS RANGER</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Nitlix</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Peak</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>AbdulMujeeb Leasu</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Barış</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Micgoo ❤️</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Sakifa</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Suneet Amarnath</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Yusuf</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Ethan</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Lance</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Haider Ahmad</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>HOI4 Addict (Joe)</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Finden</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Otseman</h3>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border">
                <h3>Subash</h3>
            </div>
        </div>
        <div class="row">
            <style>
                .img_icon {
                    max-width: 30vh;
                }
            </style>
            <h2>Softwares used</h2>
            <!-- Django -->
            <div class="col col-md-4 d-flex justify-content-center align-items-center img_icon">
                <a href="https://www.djangoproject.com/"><img class="img-fluid" src="https://static.djangoproject.com/img/logos/django-logo-negative.svg" alt="Django logo"></a>
            </div>
            <!-- Python -->
            <div class="col col-md-4 d-flex justify-content-center align-items-center img_icon">
                <a href="https://www.python.org/"><img class="img-fluid" src="https://www.python.org/static/community_logos/python-logo-generic.svg" alt="Python logo"></a>
            </div>
            <!-- Stack overflow -->
            <div class="col col-md-4 d-flex justify-content-center align-items-center img_icon">
                <a href="https://stackoverflow.com/"><img class="img-fluid" src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a" alt="Stack overflow logo"></a>
            </div>
            <!-- Bootstrap -->
            <div class="col col-md-4 d-flex justify-content-center align-items-center img_icon">
                <a href="https://getbootstrap.com/"><img class="img-fluid" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap logo"></a>
            </div>
        </div>
    </div>
{% endblock %}